<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.safey.lungmonitoring">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="${applicationId}.permission.ACCESS_BACKGROUND_LOCATION"  />


    <permission android:name="android.permission.BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"  />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />



    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <!--From Android 12-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="${applicationId}.permission.BLUETOOTH_CONNECT" />

    <application

        android:name="com.safey.lungmonitoring.SafeyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LungApplication"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:testOnly="false"
        tools:replace="android:name">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.safey.lungmonitoring.ui.dashboard.Dashboard"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name="com.safey.lungmonitoring.ui.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
     <!--   <activity
            android:name="com.safey.lungmonitoring.ui.Intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />-->
        <activity
            android:name="com.safey.lungmonitoring.ui.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.safey.lungmonitoring.data.datautils.MyContentProvider"
            android:authorities="com.safey.lungmonitoring..contentprovider.provider"
            android:grantUriPermissions="true"
            android:exported="false" />
    </application>

</manifest>